src/services/soap/news_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://example.com/newsService"
             xmlns:tns="http://example.com/newsService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://example.com/newsService">
            <xsd:element name="Article" type="xsd:string"/>
            <xsd:element name="ArticleRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestInfo" type="xsd:string"/>
                        <xsd:element name="article" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="getArticlesRequest"/>
    <message name="getArticlesResponse">
        <part name="articles" element="tns:Article"/>
    </message>

    <message name="addArticleRequest">
        <part name="article" element="tns:Article"/>
    </message>
    <message name="addArticleResponse">
        <part name="success" type="xsd:boolean"/>
        <part name="article" element="tns:Article"/>
    </message>

    <message name="updateArticleRequest">
        <part name="ArticleRequest" element="tns:ArticleRequest"/>
    </message>
    <message name="updateArticleResponse">
        <part name="status" type="xsd:string"/>
        <part name="article" element="tns:Article"/>
    </message>

    <message name="deleteArticleRequest">
        <part name="RequestInfo" type="xsd:string"/>
    </message>
    <message name="deleteArticleResponse">
        <part name="success" type="xsd:boolean"/>
    </message>

    <message name="getArticlesBySourceIdRequest">
        <part name="sourceId" type="xsd:string"/>
    </message>
    <message name="getArticlesBySourceIdResponse">
        <part name="articles" element="tns:Article"/>
    </message>

    <message name="getArticlesBySourceNameRequest">
        <part name="sourceName" type="xsd:string"/>
    </message>
    <message name="getArticlesBySourceNameResponse">
        <part name="articles" element="tns:Article"/>
    </message>

    <portType name="NewsPortType">
        <operation name="getArticles">
            <input message="tns:getArticlesRequest"/>
            <output message="tns:getArticlesResponse"/>
        </operation>
        <operation name="addArticle">
            <input message="tns:addArticleRequest"/>
            <output message="tns:addArticleResponse"/>
        </operation>
        <operation name="updateArticle">
            <input message="tns:updateArticleRequest"/>
            <output message="tns:updateArticleResponse"/>
        </operation>
        <operation name="deleteArticle">
            <input message="tns:deleteArticleRequest"/>
            <output message="tns:deleteArticleResponse"/>
        </operation>
        <operation name="getArticlesBySourceId">
            <input message="tns:getArticlesBySourceIdRequest"/>
            <output message="tns:getArticlesBySourceIdResponse"/>
        </operation>
        <operation name="getArticlesBySourceName">
            <input message="tns:getArticlesBySourceNameRequest"/>
            <output message="tns:getArticlesBySourceNameResponse"/>
        </operation>
    </portType>

    <binding name="NewsBinding" type="tns:NewsPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getArticles">
            <soap:operation soapAction="http://example.com/newsService/getArticles"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addArticle">
            <soap:operation soapAction="http://example.com/newsService/addArticle"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateArticle">
            <soap:operation soapAction="http://example.com/newsService/updateArticle"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteArticle">
            <soap:operation soapAction="http://example.com/newsService/deleteArticle"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticlesBySourceId">
            <soap:operation soapAction="http://example.com/newsService/getArticlesBySourceId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticlesBySourceName">
            <soap:operation soapAction="http://example.com/newsService/getArticlesBySourceName"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="NewsService">
        <port name="NewsPort" binding="tns:NewsBinding">
            <soap:address location="http://localhost:3000/newsService"/>
        </port>
    </service>

</definitions>
